{% extends 'base.html' %}

{% block content %}
<br>
<br>
<br>
<br>

    <div class="container">
        <div class="columns">
            <div class="column">
                <h1 class="title">{{ user.username }}</h1>

                <p><a href="{% url 'followers' user.username %}"> Followers: {{ user.userprofile.followed_by.count }}</a></p>
                <p><a href="{% url 'follows' user.username %}">Follows: {{ user.userprofile.follows.count }}</a></p>

                {% if user != request.user %}
                    {% if request.user.userprofile in user.userprofile.followed_by.all %}
                        <a href="{% url 'unfollow_user' user.username %}">Unollow</a>
                    {% else %}
                        <a href="{% url 'follow_user' user.username %}">Follow</a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <div class="wrapper-posts">
                    {% for post in user.posts.all %}
                        <div class="post">
                            <p class="name">{{ post.created_by.username }}</p>
                            <p>{{ post.body }}</p>
                            <p class="info">{{ post.created_at }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>


{% endblock %}