{% extends 'base.html' %}

{% block content %}

<br>
<br>
<br>

    <div class = "container">
        <div class = "columns">
            <div class= "column">
                <h1 class="title">Search</h1>
                <p>Search term: "{{ query }}"</p>
                <hr>
                <form method="GET" action="{% url 'search' %}">
                    <div class="field">
                        <div class="control">
                            <input type="text" class="input" name="query" value="{{ query }}">
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <br>
                            <button>Search</button>
                        </div>
                    </div>
                </form>
                <div class="search-results">
                    <br>
                    {% for user in postusers %}
                        <p><a href="{% url 'userprofile' user.username %}">{{ user.username }}</a></p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}