<!DOCTYPE html>

{% load static %}

<html>
    <head>
        <meta charset="utf-8">
        <!-- Userfriendly pentru mobile devices -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Proiect Social Network</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
    </head>

    <body>
        <nav class="navbar is-info" role = "navigation">
            <div class="navbar-brand">
                <a href="/" class="navbar-item">NavBar</a>

                <a class="navbar-burger">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
        </nav>
        <section class = "section">
            {% block content %}
            {% endblock %}
        </section>

    </body>

</html>
