body {
    background: #E6E6FA;
}

.wrapper-posts {
    margin-top: 35px;

}
    .wrapper-posts .post {
        margin-bottom: 10px;
        padding: 20px;
        border-radius: 4px;
        background: #fff;
    }

.image {
    width:10%;
    height:10%;
}


