body {
    background: #E6E6FA;
}

.wrapper-posts {
    margin-top: 35px;

}
    .wrapper-posts .post {
        margin-bottom: 10px;
        padding: 20px;
        border-radius: 4px;
        background: #fff;
    }

    .wrapper-posts .post .name {
        font-weight: bold;
    }

    .wrapper-posts .post .info {
        font-size: 12px;
        color: #aaa;
    }

.image {
    max-width:100%;
    max-height:100%;
}


